<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <comment>Applications Configuration</comment>
    <!--email section-->
    <entry key="email_to">MitraisMP@mitrais.com</entry>
    <entry key="email_from">MitraisMP-Noreply@mitrais.com</entry>
    <entry key="email_host">exchange2007.mitrais.com</entry>
    <entry key="email_template">E:\MitAIR\emailTemplate.txt</entry>
    <entry key="email_subject">AURORA - Mitrais Nexus Environment Update</entry>

    <!--app runtime section-->
    <entry key="app_starttime">17:00:00</entry>
    <entry key="app_stoptime">08:00:00</entry>
    <entry key="app_delay">1800000</entry> <!--30 mins-->
    <entry key="app_isemailrequired">true</entry>
    <entry key="app_run24hrs">false</entry>
    <entry key="app_envlist">E:\MitAIR\envList.xml</entry>    

</properties>